.container {
  width: 90%;
  background-color: #f4f1ec;
  margin: auto;
  display: flex;
  margin-top: 15rem;
  justify-content: space-evenly;
}


/*  media queries styles */


@media only screen and (max-width: 1024px) {

  /* Write Tablet only CSS here */
  .container {
    display: block;
    width: 100vw;
    margin-top: 0px;
  }

  .tweet-container-one {
    width: 90%;
    margin: 0 auto;
  }
}