.container {
  width: 90%;
  background-color: #f4f1ec;
  margin: auto;
  display: flex;
  margin-top: 15rem;
  justify-content: space-evenly;
}


/*  media queries styles */

@media only screen and (min-width:1024px) and (max-width: 1440px) {

  .info {
    margin-left: 3rem;
    margin-right: 5rem;
  }

  .avatar {
    left: 8rem;
  }

  .your-name {
    /* left: 5rem; */
    left: 7rem;
  }

  body {
    font-size: 16px;
  }

}

@media only screen and (max-width: 1024px) {

  /* Write Tablet only CSS here */
  .container {
    display: block;
    width: 100vw;
    margin-top: 0px;
  }

  .tweet-container-one {
    width: 90%;
    margin: 0 auto;
  }
}